@media only screen and (min-device-width: 1600px) {
	html {
		font-size: 70%;
	}
}
@media only screen and (max-device-width: 1599px) {
	html {
		font-size: 62.5%;
	}
}

:not(a) {
	cursor: default;	
}

::-moz-focus-inner {
	border: none;
}

body {
	background: #fafafa;
	font-size: 1.6em;
	font-family: 'Source Sans Pro';
	font-weight: 300;
	letter-spacing: 0.5px;
	line-height: 140%;
	color: #444;
}

input {
	font: inherit;
}

input[type="text"], input[type="password"], input[type="email"], textarea {
	border: 1px #ddd solid;
	padding: 0.5rem 1.5rem;
	border-radius: 2rem;
	box-shadow: 1px 1px 1.5px #ccc inset;
	color: #777;
	font-style: italic;
}

input[type="text"]:hover, input[type="password"]:hover, input[type="email"]:hover, textarea:hover, input[type="text"]:focus, input[type="password"]:focus, input[type="email"]:focus, textarea:focus {
	background: #ff7a63;
	color: #fff;
	transition: background 0.5s ease-out;
}

button, input[type="submit"], a.button {
	text-transform: uppercase;
	text-decoration: none;
	font-weight: 600;
	padding: 0.5rem 1.5rem;
	border-radius: 2rem;
	border: none;
	color: white;
	cursor: pointer;
	background-color: #e7555f;
	transition: background 0.5s ease-out;
}

button:hover, input[type="submit"]:hover, a.button:hover {
	background-color: #ff7a63;
	transition: background 0.5s ease-out;
}

#top-section {
	position: fixed;
	height: 6rem;
	top: 0;
	width: 100%;
	background: rgba(255, 240, 225, 0.95);
	box-shadow: 0 -0.5rem 0.5rem -0.5rem rgba(247,62,62, 0.3) inset;
}

#top-section-content {
	width: 96rem;
	margin: auto;
}

#logo a {
	text-decoration: none;
	font-weight: 600;
	font-size: 2rem;
	float: left;
	margin-top: 1.75rem;
	display: inline-block;
	color: #e7555f;
}

#logo a:hover {
	text-shadow: 0 0 2rem rgba(255, 255, 255, 0.9);
}

#nav-bar {
	display: inline-block;
	margin-top: 1.5rem;
	float: right;
}

#nav-bar ul {
	float: right;
	display: inline-block;
}

#nav-bar ul li {
	display: inline-block;
}

#nav-bar ul li a {
	display: inline-block;
	margin-left: 0.5rem;
	text-transform: uppercase;
	text-decoration: none;
	font-weight: 600;
	border: 1px #e7555f solid;
	padding: 0.5rem 1.5rem;
	border-radius: 2rem;
	color: #e7555f;
	transition: background 0.5s ease-out, color 0.5s ease-out, border 0.5s ease-out;
}

#nav-bar ul li a:hover, #nav-bar ul li.selected a {
	transition: background 0.5s ease-out, color 0.5s ease-out, border 0.5s ease-out;
	background-color: #e7555f;
	color: white;
}

#main-section-content {
	width: 96rem;
	margin: 0 auto;
	padding: 2rem 0;
	border-left: 1px #ddd solid;
	border-right: 1px #ddd solid;
	border-bottom: 1px #ddd solid;
}

#footer-section {
	border-bottom: 1px #ddd solid;
}

#footer-section-content {
	background: #eee;
	width: 92rem;
	padding: 1rem 2rem;
	margin: 0 auto;
	border-left: 1px #ddd solid;
	border-right: 1px #ddd solid;
	border-bottom: 1px #ddd solid;
}

/* For the form */
#main-section[data-page='login'],
#main-section[data-page='register'],
#main-section[data-page='about'],
#main-section[data-page='error'],
#main-section[data-page='profile'],
#main-section[data-page='task_create'],
#main-section[data-page='task_edit'] {
	margin-top: 6rem;
}

#error {
	width: 40rem;
	margin: 0 auto;
	text-align: center;
	background: #E7555F;
	border-radius: 2rem;
	padding: 0.5rem 0;
	color: #fff;
}

table {
	width: 40rem;
	margin: 0 auto;
}

td {
	padding: 2rem 2rem 2rem 0;
	vertical-align: middle;
}

td:first-child {
	min-width: 10rem;
}

td:last-child {
	padding-right: 0;
	width: 99%;
}

td:last-child input[type="text"], td:last-child input[type="password"], td:last-child input[type="email"] {
	box-sizing:border-box;
	-moz-box-sizing:border-box;
	width: 100%;
}

tr:last-child div {
	display: inline-block;
	float: right;
}

tr:last-child div a.button {
	background: #aaa;
	transition: background 0.5s ease-out;
}

tr:last-child div a.button:hover {
	background-color: #ff7a63;
	transition: background 0.5s ease-out;
}

/* For Index Page */
#intro-section {
	margin-top: 6rem;
	height: 40rem;
	background: url(assets/img/index-background-bar.png) no-repeat scroll;
	background-position: center center;
	background-size: 100% 100%;
	box-shadow: 0 -5rem 5rem rgba(146,48,62, 0.2) inset;
}

#intro-section h1 {
	font-weight: 700;
	text-align: center;
	font-size: 5rem;
	color: white;
	padding: 16rem 0 3rem;
	text-shadow: 0 0 2rem rgba(146,48,62,0.5);
}

#intro-section p {
	text-align: center;
	color: white;
	font-size: 3rem;
}

#feature-list li a {
	display: block;
	height: 100%;
	width: 100%;
	padding: 4rem 0;
}

#feature-list li a:hover {
	background: #ff7a63;
	color: white;
	transition: background 0.3s ease-in;
}

#feature-list li a:hover h1 i {
	border: 3px white solid;
}

#feature-list li a h1 {
	text-align: center;
	font-size: 5rem;
	margin-bottom: 3rem;
	font-family: 'Simple-Line-Icons';
}

#feature-list li a h1 i {
	display: inline-block;
	width: 10rem;
	height: 5rem;
	border-radius: 6rem;
	border: 3px #444 solid;
	padding: 3.5rem 0 1rem;
}

#feature-list li a h2 {
	font-size: 3rem;
	text-align: center;
	margin-bottom: 3rem;
}

#feature-list li a p {
	text-align: center;
	font-weight: 200;
	font-style: italic;
	margin: 0 15rem 0;
}

/* For About Page */
#main-section[data-page='about'] #main-section-content > h1 {
	text-align: center;
	font-size: 5rem;
	margin-top: 5rem;
	margin-bottom: 3rem;
	font-weight: 600;
}

#creator-list li a {
	display: block;
	height: 100%;
	width: 100%;
	padding: 4rem 0;
}

#creator-list li a:hover {
	background: #ff7a63;
	color: white;
	transition: background 0.3s ease-in;
}

#creator-list li a:hover .avatar span {
	border: 1rem white solid;
}

#creator-list li a .avatar {
	margin-bottom: 2rem;
}

#creator-list li a .avatar span {
	display: block;
	width: 10rem;
	height: 10rem;
	box-shadow: 0 0 0.1rem rgba(121, 121, 121, 0.4);
	border: 1rem #fff solid;
	border-radius: 50%;
	margin: 0 auto;
}

#creator-list li a .avatar span img {
	border: 0;
	width: 100%;
	border-radius: 50%;
}

#creator-list li a h2 {
	font-size: 3rem;
	text-align: center;
	margin-bottom: 1rem;
}

#creator-list li a p {
	text-align: center;
	font-weight: 200;
	font-style: italic;
	margin: 0 15rem 0;
}

/* For Error Page */
#main-section[data-page='error'] #main-section-content > h1 {
	text-align: center;
	font-size: 5rem;
	margin-top: 20rem;
	margin-bottom: 20rem;
	font-weight: 600;
	line-height: 105%;
}

/* For Tasks Page */
#title-section {
	position: fixed;
	width: 100%;
	top: 6rem;
	height: 15rem;
	background: rgba(250, 250, 250, 0.95);
}

#title-section-content {
	margin: auto;
	width: 96rem;
	height: 100%;
	box-shadow: 0 1rem 1rem -1rem rgba(121,121,121, 0.2);
}

#title-section-content #title-box {
	float: left;
	margin-left: 2rem;
	width: 58rem;
	height: 15rem;
	display: table;
}

#title-section-content h1 {
	display: table-cell;
	vertical-align: middle;
	color: #e7555f;
	text-align: left;
	font-size: 5rem;
	line-height: 105%;
}

#title-section-content #btn-box {
	margin-left: 60rem;
	width: 36rem;
	height: 3rem;
	text-align: right;
	padding: 6.5rem 0 5.5rem;
}

#btn-box a.button {
	height: 5rem;
	margin-right: 2rem;
	margin-top: 10rem;
}

#main-section[data-page='tasks'] {
	margin-top: 21rem;
}

#main-section[data-page='tasks'] #main-section-content {
	padding-top: 0;
	padding-bottom: 0;
}

#tasks-list > li {
	background: #fff;
	padding: 5rem 0;
}

#tasks-list > li:not(:first-child) {
	border-top: 1px #ddd solid;
}
#tasks-list > li > a {
	text-decoration: none;
}

#tasks-list > li > a > h2 {
	cursor: pointer;
	color: #2b9891;
	font-weight: 600;
	font-size: 3rem;
	margin: 0 7rem 2rem;
}

#tasks-list > li > a:hover > h2 {
	color: #e7555f;
}

#tasks-list > li p {
	font-weight: 200;
	font-style: italic;
	margin: 0 7rem 3rem;	
}

.task-blocks-list {
	margin: 0 7rem 0;
}

.task-blocks-list li {
	display: inline-block;
	margin-right: 1rem;
	margin-bottom: 1rem;
}

.task-blocks-list li button {
	border: 0.7rem white solid;
	width: 5rem;
	height: 5rem;
	border-radius: 50%;
}

.task-blocks-list li button.task-done-block {
	box-shadow: 0 0 0.1rem #e7555f;
	cursor: default;
}

.task-blocks-list li button.task-done-block {
	background: #e7555f;
}

.task-blocks-list li button.task-current-block {
	background: #2b9891;
	box-shadow: 0 0 0.1rem #2b9891;
}

.task-blocks-list li button.task-current-block:hover {
	background: #ff7a63;
	box-shadow: 0 0 0.1rem #ff7a63, 0 0 1.5rem rgba(121, 121, 121, 0.2) inset;
	transition: background 0.4s ease-out, box-shadow 0.4s ease-out;
}

.task-blocks-list li button.task-undone-block {
	background: #ddd;
	box-shadow: 0 0 0.1rem #aaa;
	cursor: default;
}