#main-section {
	margin-top: 6rem;
}

#main-section-content > h1 {
	text-align: center;
	font-size: 5rem;
	margin-top: 5rem;
	margin-bottom: 3rem;
	font-weight: 600;
}

#creator-list li a {
	display: block;
	height: 100%;
	width: 100%;
	padding: 4rem 0;
}

#creator-list li a:hover {
	background: #ff7a63;
	color: white;
	transition: background 0.3s ease-in;
}

#creator-list li a:hover .avatar span {
	border: 1rem white solid;
}

#creator-list li a .avatar {
	margin-bottom: 2rem;
}

#creator-list li a .avatar span {
	display: block;
	width: 10rem;
	height: 10rem;
	box-shadow: 0 0 0.1rem rgba(121, 121, 121, 0.4);
	border: 1rem #fff solid;
	border-radius: 50%;
	margin: 0 auto;
}

#creator-list li a .avatar span img {
	border: 0;
	width: 100%;
	border-radius: 50%;
}

#creator-list li a h2 {
	font-size: 3rem;
	text-align: center;
	margin-bottom: 1rem;
}

#creator-list li a p {
	text-align: center;
	font-weight: 200;
	font-style: italic;
	margin: 0 15rem 0;
}