#main-section {
	margin-top: 6rem;
}

table {
	width: 40rem;
	margin: 0 auto;
}

td {
	padding: 2rem 2rem 2rem 0;
	vertical-align: middle;
}

td:first-child {
	min-width: 10rem;
}

td:last-child {
	padding-right: 0;
	width: 99%;
}

td:last-child input[type="text"], td:last-child input[type="password"], td:last-child input[type="email"] {
	box-sizing:border-box;
	-moz-box-sizing:border-box;
	width: 100%;
}

tr:last-child div {
	display: inline-block;
	float: right;
}

tr:last-child div a.button {
	background: #aaa;
	transition: background 0.5s ease-out;
}

tr:last-child div a.button:hover {
	background-color: #ff7a63;
	transition: background 0.5s ease-out;
}
