@media only screen and (min-device-width: 1600px) {
	html {
		font-size: 70%;
	}
}
@media only screen and (max-device-width: 1599px) {
	html {
		font-size: 62.5%;
	}
}

body {
	font-size: 1.6rem;
	font-family: 'Source Sans Pro';
	font-weight: 300;
	line-height: 140%;
	color: #333;
}

#nav-section {
	position: fixed;
	height: 6rem;
	top: 0;
	width: 100%;
	background: rgba(255, 240, 225, 0.9);
}

#main-section {
	margin-top: 6rem;
}

#main-section-content {
	width: 96rem;
	margin: auto;
	border-left: 1px #ddd solid;
	border-right: 1px #ddd solid;
}